{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>LTI case-study 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Student's Records</h1>
  <p>Select one of the options</p>
    <div class="btn-group">
	  <a href="add-student" class="btn btn-primary" role="button">Add new Student</a>
	  <a href="search-student" class="btn btn-primary" role="button">Search for a Student by Id</a>
	  <a href="display-all-student" class="btn btn-primary" role="button">Display all the Students</a>
	</div>
</div>
    
</body>
</html>
